@media screen and (orientation: portrait) {
  .navigation-text {
    font-size: 2.1vh !important;
  }
}

.navigation-text {
  font-size: 4vh;
}

.btn {
  line-height: 0;
}

#nav-bar {
  z-index: 10000;
  position: relative;
}
