<app-weather-default
  [weatherResponse]="weatherResponse"
  [city]="city"
  [cityShort]="cityShort"
  (notifyCoord)="setCoord($event)"
  (notifyWeatherResponse)="setWeatherResponse($event)"
  *ngIf="
    currentPage === settings.display.weatherDefault.index && !locationLoading && settings.display.weatherDefault.show
  "
>
</app-weather-default>

<app-weather-hourly-chart
  [hourlyWeatherResponse]="hourlyWeatherResponse"
  [city]="city"
  [coord]="coord"
  (notifyHourlyWeatherResponse)="setHourlyWeatherResponse($event)"
  *ngIf="
    currentPage === settings.display.weatherHourly.index && !locationLoading && settings.display.weatherHourly.show
  "
>
</app-weather-hourly-chart>

<app-weather-seven-day-chart
  [dailyWeatherResponse]="dailyWeatherResponse"
  [city]="city"
  [coord]="coord"
  (notifyDailyWeatherResponse)="setDailyWeatherResponse($event)"
  *ngIf="currentPage === settings.display.weatherDaily.index && !locationLoading && settings.display.weatherDaily.show"
>
</app-weather-seven-day-chart>

<app-weather-local
  [localWeatherResponse]="localWeatherResponse"
  [name]="localName"
  (notifyLocalWeatherResponse)="setLocalWeatherResponse($event)"
  *ngIf="currentPage === settings.display.weatherLocal.index && !locationLoading && settings.display.weatherLocal.show"
>
</app-weather-local>

<div
  class="d-flex flex-column px-5 justify-content-center align-items-middle h-100"
  *ngIf="locationLoading && errorMessage !== undefined"
>
  <p class="text-break align-middle display-6">{{ this.errorMessage }}</p>
  <p class="display-5">Retry in {{ 10 - (currentTimer / 100).toFixed(0) }} sec ...</p>
</div>

<div class="fixed-bottom bg-secondary" style="height: 5px">
  <div class="bg-light" [style.height.%]="100" [style.width.%]="this.currentTimer / 10"></div>
</div>
